@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    padding-top: 60px ;
}
/* HEADER */

header{
    padding: 0px 20px;
    height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.clearfix::after
{
    content:'';
    clear:both;
    display:table;
}

.nav1,
.nav2{
    width: 50%;
    float: left;
    line-height: 60px;
}

nav ul li{
    display: inline-block;
    font-size: 15px;
}

li a{
    text-decoration: none;
    padding-right: 20px;
    color: black;
}

.nav2{
    text-align: right;
}

.nav1 img{
    vertical-align: sub;
}

.button{
    background-color: rgb(0, 128, 255);
    color: white;
    border: none;
    padding: 8px 20px;
}

/* Section BANNER */
.banner{
    height: 500px;
    width: 100vw;
    background-color:#b4d0e7;
}

.container-banner{
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.container-banner .fas{
    font-size: 40px;
    color: black;
}   
    
.titolo-banner{
    font-size: 3vw;
}

.testo-banner,
.jumbo-banner{
    float: left;
    margin-top: 30px;
}

.testo-banner{
    width: 30%;
    font-size: 15px;
}

.testo-banner p{
    margin-bottom: 20px;
}

.testo-banner button{
    margin-bottom: 10px;
}

.jumbo-banner{
    width: 70%;
}

.jumbo-banner img{
    width: 80%;
    position: relative;
    top: 0;
    left: 120px;
}

/* MAIN */

/* Sezione1 */
.container-section{
    width: 70%;
    margin:auto;
}

.section1{
    padding-top:100px;
}
.head-section{
    margin-bottom: 20px;
}

.head-section h2{
    margin-bottom: 30px;
}

label{
    font-size: 15px;
}

.choice2{
    margin-left: 30px;
}

.col-section{
    float:left;
    border: solid 1px lightgrey;
    height: 1000px;
    width: 30%;
}

.col-section .head-col,
.head-footer{
    text-align: center;
    border-bottom: solid 1px lightgrey ;
    padding:10px 5px;
    font-size: 15px;
}

.colonna2{
    margin:0% 5%;
}

/* contenuto colonna */
.col-contenuto > *{
    display: block;
    margin: 10px 0px;
}

.buy a {
    color:rgb(0, 128, 255) ;
}

hr{
    color: lightgrey;
    width: 25%;
    
}

.col-contenuto ul .fas {
    color:rgb(0, 128, 255);
}

.col-contenuto{
    padding: 10px 20px;
}

.col-contenuto ul li {
    list-style: none;
}

.col-contenuto span,
.col-contenuto p,
.col-contenuto ul li,
.footer-section p{
    font-size: 14px;
}

.period{
    color:#85919C
}

/* .Margini interni col-section */

.period,
.button-col{
    margin-bottom: 40px;
}

.user,
.archivio,
.function,
.buy{
    margin-bottom: 20px;
}

.ul-title{
        margin-top: 30px;
}

ul li{
    margin-bottom: 30px;
}

/* footer sezione1 */

.contenuto-footer{
    padding: 20px 0px 10px 20px;
    position: relative;
}

.contenuto-footer h5{
    margin: 20px 0px 30px 0px
}

.footer-section{
    width: 100%;
    border: solid 1px lightgrey;
    margin-top: 30px;
}

.button-footer{
    margin: 0px;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Sezione2 */












