@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
}
/* HEADER */

header{
    padding: 0px 20px;
    height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.clearfix::after
{
    content:'';
    clear:both;
    display:table;
}

.nav1,
.nav2{
    width: 50%;
    float: left;
    line-height: 60px;
}

nav,
ul li{
    display: inline-block;
    font-size: 15px;
}

li a{
    text-decoration: none;
    padding-right: 20px;
    color: black;
}

.nav2{
    text-align: right;
}

.nav1 img{
    vertical-align: sub;
}

.button{
    background-color: rgb(0, 128, 255);
    color: white;
    border: none;
    padding: 8px 20px;
}

/* Section BANNER */
.banner{
    height: 600px;
    width: 100vw;
    background-color:rgb(204, 230, 255);
}

.container-banner{
    width: 90%;
    margin: auto;
}

